[Desktop Entry]
Version=1.0
Name=Dashbase Core
Comment=Dashbase P2P Cryptocurrency
Comment[de]=Verbinde mit dem Dashbase peer-to-peer Netzwerk
Comment[fr]=Dashbase, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dashbase, eşten eşe kriptografik sanal para birimi
Exec=dashbase-qt %u
Terminal=false
Type=Application
Icon=dashbase128
MimeType=x-scheme-handler/dashbase;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Dashbase-qt
